body {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: row;
	background: white;
	color: black;
}

body > article {
	margin-left: 40px;
}
body > article > h1:first-child {
	margin-bottom: 10px;
	line-height: 1.1;
}
body > article > h4:first-of-type {
	margin-top: 0;
	font-weight: normal;
	opacity: 0.6;
	font-style: italic;
}
body > article > hr:first-of-type {
	margin-bottom: 1.3em;
}
body > article p:not([align]) {
	text-align: left;
	line-height: 1.6;
}

body > article blockquote {
	border: none;
	padding: 0;
	font-family: serif;
}

body > article blockquote em {
	font-weight: bold;
}

body > article ul {
	padding-left: 20px;
}

body > aside {
	opacity: 0.6;
	transition: opacity 0.3s ease-out;
	text-align: right;
	padding-top: 2em;
}
body > aside:hover {
	opacity: 1;
}

body > aside > aside {
	padding-top: 1em;
}

body > aside > aside * {
	font-size: 1.6em;
	line-height: normal;
	margin: 0;
}

body > aside > aside > h4 {
	opacity: 0.6;
	font-size: 1.2em;
}

body > aside > hr {
	margin: 1em 0;
}

body > aside > nav > h1 {
	line-height: normal;
	font-size: 1.5em;
}

body > aside > nav > ul {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	padding: 0;
}

body > aside > nav > ul > a {
	color: inherit;
}

body > aside > nav > ul li {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 400px;
	overflow: hidden;
	text-decoration: none;
	font-size: 1em;
	margin-bottom: 0.8em;
}

body > aside > nav > ul li * {
	margin: 0;
	display: inline;
	font-size: inherit;
	font-weight: normal;
}

body > aside > nav > ul li h4 {
	opacity: 0.5;
}

body > aside > nav > ul li h1 {
	text-decoration: underline;
}
body > aside > nav > ul > a.current-post:hover {
	cursor: default;
	text-decoration: none;
}

body > aside > nav > ul > a.current-post > li {
	text-decoration: none;
}

body > aside > nav > ul > a.current-post > li > h1 {
	font-weight: bold;
	text-decoration: none;
}

body > aside > p a {
	color: inherit !important;
	text-decoration: underline;
	font-size: 0.9em;
	margin: 0;
}

@media only all and (min-width: 400px) and (max-width: 1300px) {
	body > aside > nav > ul li {
		max-width: 200px;
	}
	body > article {
		max-width: 500px;
	}
}

@media only all and (min-width: 1300px) {
	body {
		padding-right: 400px;
	}

	body > article {
		min-width: 600px;
	}
}

@media only all and (max-width: 750px) {
	body {
		flex-direction: column-reverse;
		align-items: center;
	}

	body > article {
		margin-left: 0;
		padding: 0 4vw;
		margin-bottom: 2em;
		width: 90vw;
		max-width: 600px;
	}

	img {
		width: 90vw;
		max-width: 600px;
	}

	body > aside {
		opacity: 1;
		text-align: center;
	}

	body > aside > aside * {
		text-align: left;
	}

	body > aside > nav > ul {
		align-items: center;
	}

	body > aside > nav > ul li {
		max-width: 80vw;
	}
}
