html {
	display: flex;
	min-height: 100vh;
}
body {
	margin: auto;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: white;
	color: black;
}

a {
	color: black;
	text-decoration: underline;
	opacity: 0.5;
	transition: opacity 0.2s ease-out;
}

a:hover, a:active {
	opacity: 1;
}

section#card {
	padding: 40px;
}

section#card article {
	float: left;
}

section#card article img {
	width: 10em;
	border-radius: 100%;
}

section#card aside {
	float: right;
	margin-left: 1em;
}

section#card aside h1 {
	margin-bottom: 0;
	font-size: 1.6em;
}

section#card aside h4 {
	margin: 0 0 1.2em;
	font-size: 1.2em;
	opacity: 0.6;
}

section#card aside p {
	white-space: pre-line;
}

section#card aside p a {
	font-weight: bold;
	text-decoration: none;
}

section#card aside p a:hover, section#card aside p a:active {
	color: #00ff97;
}

footer {
	clear: both;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 40px;
}

footer nav p {
	margin: 0;
	line-height: 1.3;
}

footer nav a.social-icons-links {
	line-height: 1.9;
	filter: brightness(0%);
	transition: filter 0.2s ease-out;
}

footer nav a.social-icons-links img {
	height: 1.5rem;
	width: 1.5rem;
	vertical-align: middle;
}

footer nav a.social-icons-links:hover, footer nav a.social-icons-links:active {
	filter: brightness(100%);
}

@media only all and (orientation: portrait) {
	section#card * {
		float: none !important;
	}
	
	section#card {
		border-bottom: 2px solid black;
		padding: 0;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	
	section#card article {
		text-align: center;
	}
	
	section#card aside {
		margin-right: 1em;
	}

	footer {
		grid-template-columns: 1fr;
	}
	
	footer nav:first-child {
		margin-bottom: 1.5em;
	}

	footer nav a.social-icons-links {
		line-height: 3;
	}

	footer nav a.social-icons-links img {
		height: 1.7rem;
	}
}
